/* src/components/InternshipList/InternshipList.module.css */
.internshipList {
  flex-grow: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  overflow-y: auto;
}

.noInternships {
  text-align: center;
  font-size: 1.2em;
  color: #666;
  margin-top: 50px;
  grid-column: 1 / -1; /* Center across all columns */
}
